.doc-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: .75rem;
    text-align: left;
    border-bottom: 1px solid var(--p-surface-200);
  }
}

.required {
  color: var(--p-red-500);
  margin-left: .25rem;
}