<header class="public-header">

  <a
    routerLink="/"
    class="brand"
  >
    <img
      src="/images/aman-money-loop-logo.png"
      alt="Aman Money Loop"
    />

    <span>Aman Money Loop</span>
  </a>

  <nav class="public-actions">
    @if (auth.isLoggedIn()) {
      <a routerLink="/console" class="create-account">Open Dashboard</a>
    } @else {
      <a routerLink="/login" class="sign-in">Sign In</a>
      <a routerLink="/register" class="create-account">Create Account</a>
    }

  </nav>

</header>

<main class="public-content">
  <router-outlet></router-outlet>
</main>
